@import "../../../variables.scss";

.info-component {
  h4 {
    margin: 0;
    font-size: 1.6rem;
  }
  ul {
    list-style: none;
    background: $pcolor2;
    width: 150px;
  }
  .green {
    color: #1cc219;
  }

  .yellow {
    color: #e6e643;
  }

  .red {
    color: #ef3b3b;
  }
}
