@import "../../../variables.scss";

.tabs-component {
  position: relative;
  flex-grow: 1;

  .slideToggle {
    cursor: pointer;
    padding: 10px 20px;
  }

  .action-btns {
    padding: 15px;
  }

  .tab-wrapper {
    height: 55px;
    transition: all 1s ease-in-out;

    &.active {
      height: 100%;
      min-height: 250px;
    }
  }

  header {
    position: absolute;
    bottom: 0;
    flex-direction: row;
    background: $pcolor2;
    max-height: 54px;
  }

  .MuiTabs-indicator {
    background-color: $pcolor5;
  }

  .tab-sections {
    height: 100%;
    margin-bottom: 55px;
    background: $pcolor3;
    border-left: 3px solid $pcolor2;
    border-right: 3px solid $pcolor2;
  }
}
