@import "./../../../../variables.scss";

.mile-slider-component {
  padding: 20px 0;
  .MuiSlider-root {
    color: $pcolor5;
  }
  .MuiTypography-root {
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
    font-size: 1.3392857142857144rem;
    margin-top: -3px;
    text-align: left;
    line-height: 1;
  }
}
