 @import '../../../variables.scss';

 .table-component {
     // div {
     //     background: $pcolor2;
     //     color: $pcolor3;
     // }

     h6.MuiTypography-h6 {
         text-transform: uppercase;
     }

     .MuiToolbar-root {
         background: $pcolor2;
         color: $pcolor3;
     }

     table {
         th {
             background: $pcolor2;
             color: $pcolor3;
         }

         &.MuiTable-root {
             tr[level="0"] {
                 background: $pcolor2;
                 color: $pcolor3;
             }

             tr[level="1"] {
                 background-color: rgba(69, 69, 69, .5);
             }

             .MuiSvgIcon-root {
                 color: $pcolor5;
             }
         }

         tbody {
         	.MuiTableRow-root {
         		height: 80px !important;
         	}
             // .MuiTableCell-root.MuiTableCell-body {
             //     vertical-align: top;
             //     padding-top: 20px !important;
             // }
         }
     }
 }