 @import '../../../variables.scss';

 .table-component {

     h6.MuiTypography-h6 {
         text-transform: uppercase;
     }

     .MuiToolbar-root {
         background: $pcolor2;
         color: $pcolor3;

         svg.MuiSvgIcon-root {
             color: $pcolor1;
         }

         input {
             color: $pcolor1;
         }

         .MuiInput-underline {


             &:before {
                 border-bottom: 1px solid $pcolor1;
             }

             &:hover:not(.Mui-disabled):before {
                 border-bottom: 2px solid $pcolor1;
             }

             &:after {

                 border-bottom: 2px solid $pcolor5;

             }
         }

         //     .MTableToolbar-searchField-10 {
         //         color: $pcolor1;
         //     }

         //     // .MuiInput-underline:before {

         //     //     border-bottom: 1px solid $pcolor1;
         //     // }
         //     .MuiIconButton-label {
         //        cursor: pointer;
         //         color: $pcolor1;
         //     }
     }

     table {
         th {
             background: $pcolor2;
             color: $pcolor3;
         }

         .MuiTableSortLabel-root.MuiTableSortLabel-active {
             color: $pcolor5;
         }

         .MuiTableSortLabel-root:hover {
             color: $pcolor5;
             text-decoration: underline;
         }

         .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
             color: $pcolor5;
         }



         &.MuiTable-root {
             tr[level="0"] {
                 background: $pcolor2;
                 color: $pcolor3;
             }

             tr[level="1"] {
                 background-color: rgba(69, 69, 69, .5);
             }

             .MuiSvgIcon-root {
                 color: $pcolor5;
             }
         }

         tbody {
             .MuiTableRow-root {
                 height: 80px !important;
                 background: $pcolor2;

                 .MuiTableCell-root.MuiTableCell-body {
                     color: $pcolor1;
                 }
             }

         }

         .MuiTableFooter-root {
             .MuiTypography-root.MuiTypography-caption {
                 color: $pcolor1;
             }
         }
     }
 }