@import "../../../variables.scss";

.table-component {
  position: relative;
  .toolbar {
    background: #454545;
    .actions-bar {
      position: relative;
      top: 0;
      z-index: 1100;
      right: 10px;
      height: 53px;
      display: flex;
      align-items: center;
      color: $pcolor1;
      justify-content: flex-end;
      @media (min-width: 960px) {
        position: absolute;
        top: -53px;
      }
      .items {
        padding: 12px;
        cursor: pointer;
        &.download {
          color: $pcolor1;
        }
      }
    }
    .land-totals {
      position: absolute;
      left: 15px;
      z-index: 1101;
      @media (min-width: 960px) {
        left: 50%;
        top: 0px;
        margin-left: -96px;
      }
      .items {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .num-text {
          position: absolute;
        }
        .label-icon {
          font-size: 4em;
          &.green {
            color: $green;
          }
          &.yellow {
            color: $yellow;
          }
          &.red {
            color: $red;
          }
        }
      }
    }
  }

  .MuiToolbar-root {
    background: $pcolor2;
    color: $pcolor3;

    svg.MuiSvgIcon-root {
      color: $pcolor1;
    }

    input {
      color: $pcolor1;
    }

    .MuiInput-underline {
      &:before {
        border-bottom: 1px solid $pcolor1;
      }

      &:hover:not(.Mui-disabled):before {
        border-bottom: 1px solid $pcolor1;
      }

      &:after {
        border-bottom: 2px solid $pcolor5;
      }
    }
    .MTableToolbar-actions-14 {
      // color: rgba(0, 0, 0, 0.54);
      // position: absolute;
      // right: 0;
      // top: -55px;
      // z-index: 1100;
    }
  }

  table {
    th {
      background: $pcolor2;
      color: $pcolor3;
      text-align: center;
    }

    .MuiTableSortLabel-root.MuiTableSortLabel-active {
      color: $pcolor5;
    }

    .MuiTableSortLabel-root:hover {
      color: $pcolor5;
      text-decoration: underline;
    }

    .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active
      .MuiTableSortLabel-icon {
      color: $pcolor5;
    }

    &.MuiTable-root {
      tr[level="0"] {
        background: $pcolor2;
        color: $pcolor3;
        .label-icon {
          display: list-item;
          &.green {
            color: $green;
          }
          &.yellow {
            color: $yellow;
          }
          &.red {
            color: $red;
          }
        }
      }

      tr[level="1"] {
        background-color: $pcolor3;
        border-left: 10px solid $pcolor5;
        .label-icon {
          display: none;
        }

        td {
          border-bottom: 1px solid $pcolor2;
        }
      }

      .MuiSvgIcon-root {
        color: $pcolor5;
      }
    }

    tbody {
      .MuiTableRow-root {
        height: 80px !important;
        background: $pcolor2;

        .MuiTableCell-root.MuiTableCell-body {
          color: $pcolor1;
        }
      }
      .final-offer {
        border: none;
        padding: 5px;
        text-align: right;
        width: 100%;
        margin: 0 auto;
        display: block;
        font-size: 1.6rem;
        &:focus {
          outline: 2px solid $pcolor5;
        }
      }
    }

    .MuiTableFooter-root {
      .MuiTypography-root.MuiTypography-caption {
        color: $pcolor1;
      }
    }
  }
}
