@import "../../../variables.scss";

.tabs-component {
  position: relative;
  flex-grow: 1;

  .slideToggle {
    cursor: pointer;
    padding: 11px 20px;
  }

  .tab-wrapper {
    max-height: 55px;
    height: 100%;
    transition: all 750ms ease-in-out;
    overflow: hidden;
    &.active {
      max-height: 1000px;
    }
  }

  header {
    position: absolute;
    bottom: 0;
    flex-direction: row;
    background: $pcolor2;
    max-height: 55px;
  }

  .MuiTabs-indicator {
    background-color: $pcolor5;
  }

  .tab-sections {
    // height: 100%;
    margin-bottom: 55px;
    background: $pcolor3;
    border-left: 3px solid $pcolor2;
    border-right: 3px solid $pcolor2;
  }
}
