@import '../../../variables.scss';

.upload-component {
    h4 {
        margin: 0;
        font-size: 1.6rem;
    }

    .MuiFormControl-root {


        margin: 10px;
    }

    .error {
        color: red;
    }

    .MuiLinearProgress-root {
        display: none;

        &.active {
            display: block;
        }
    }

    .la-btn {
        border: none;
        background: $pcolor6;
        color: $pcolor1;
        padding: 10px;
        margin: 15px;
        font-size: 1.2em;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        float: right;
        font-weight: bold;

        &:active {
            transform: scale(.95);

        }
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;

        input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;

            &::-webkit-file-upload-button {
                cursor: pointer;
            }
        }

        button {
            border: 2px solid $pcolor2;
            color: $pcolor1;
            background-color: $pcolor5;
            padding: 8px 20px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;

        }

    }
}