@import '../../../variables.scss';

.load-land-component {
     h4{
        margin: 0;
        font-size: 1.6rem;
     }

   
  .la-btn {
            border: none;
            background: $pcolor6;
            color: $pcolor1;
            padding: 10px;
            margin: 15px;
            font-size: 1.2em;
            text-transform: uppercase;
            cursor: pointer;
            outline: none;
            float: right;
            font-weight: bold;

            &:active {
                transform: scale(.95);

            }
        }
}