@import '../../variables.scss';

.land-component {
    .top-blocks {
        background: $pcolor3;
        padding: 30px;
        box-shadow: 1px 1px 5px $pcolor0;

        .la-btn {
            border: none;
            background: $pcolor6;
            color: $pcolor1;
            padding: 10px;
            margin: 15px;
            font-size: 1.2em;
            text-transform: uppercase;
            cursor: pointer;
            outline: none;
            float: right;
            font-weight: bold;

            &:active {
                transform: scale(.95);

            }
        }

        .bottom-block {
            box-shadow: 1px 1px 5px $pcolor0;
        }
    }
}