.lc-app {
  text-align: center;
}
.container{
  .logo {
    background: url('assets/img/logo.png') no-repeat center fixed;
    background-size: 600px;
    padding-top: 55px;
    overflow: hidden;
  }
}

 

 
